.home {
  outline: none;
  display: inline-flex;
}

.command,
.logo {
  display: inline-flex;
  padding: 4px;
  /* margin: -10px; */
  border-radius: var(--radius);

  text-decoration: none;
  font-weight: bold;
  color: #fff !important;
}

.command:hover,
.command:focus,
.logo:hover,
.logo:focus-within {
  outline: none;
  background: transparent;
}

.command {
  cursor: pointer;
  background: none;
}

.logo {
  margin-right: var(--gap-half);
}

.nav {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  z-index: 9999;
  margin: auto auto auto auto;
  margin-bottom: 30px;
  position: sticky;
  padding: 10px 0;
  top: 0;
  background-color: var(--header-bg);
  border: 1px solid var(--header-border);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  backdrop-filter: saturate(200%) blur(20px);

  /* Safari */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: saturate(220%) blur(20px);
}

.header {
  height: 32px;
  margin: 0 auto;
  padding: 0 8px;
  max-width: var(--main-content);
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.hint {
  width: 100%;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hint kbd {
  color: var(--fg);
}

@media (max-width: 960px) {
}
