# See https://help.github.com/ignore-files/ for more about ignoring files.

*.log
.DS_Store
.next
.vercel
.env

# dependencies
/node_modules
node_modules

# testing
/coverage

# production
/build
/dist
/.next
package-lock.json

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel
.env*.local


# Contentlayer
.contentlayer
