/* MAIN COLOR PALETTE */
$dark-liver: #484349ff;
$snow: #f7f0f0ff;
$screamin-green: #72f863ff;
$air-superiority-blue: #7398aeff;
$maximum-blue-purple: #9191e9ff;

$dark-liver: hsla(290, 4%, 27%, 1);
$snow: hsla(0, 30%, 95%, 1);
$screamin-green: hsla(114, 91%, 68%, 1);
$air-superiority-blue: hsla(202, 27%, 57%, 1);
$maximum-blue-purple: hsla(240, 67%, 74%, 1);

/* $suprLime -->
suprLime1: 'hsl(109, 85%, 97%)',
suprLime2: 'hsl(108, 90%, 88%)',
suprLime3: 'hsl(110, 91%, 83%)',
suprLime4: 'hsl(111, 91%, 78%)',
suprLime5: 'hsl(113, 91%, 73%)',
suprLime6: 'hsl(114, 91%, 68%)',
suprLime7: 'hsl(164, 79%, 6%)',
*/

/* $air -->
air1: 'hsl(220, 20%, 97%)',
air2: 'hsl(207, 22%, 90%)',
air3: 'hsl(207, 24%, 84%)',
air4: 'hsl(206, 24%, 77%)',
air5: 'hsl(204, 25%, 70%)',
air6: 'hsl(202, 27%, 57%)',
air7: 'hsl(322, 39%, 20%)',
*/

/* $maxAir */
