@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Regular.woff2');
  src: local('Atkinson Hyperlegible Regular'), local('AtkinsonHyperlegible-Regular'),
    url('/fonts/AtkinsonHyperlegible-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Bold.woff2');
  src: local('Atkinson Hyperlegible Bold'), local('AtkinsonHyperlegible-Bold'), url('/fonts/AtkinsonHyperlegible-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-Italic.woff2');
  src: local('Atkinson Hyperlegible Italic'), local('AtkinsonHyperlegible-Italic'), url('/fonts/AtkinsonHyperlegible-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/AtkinsonHyperlegible-BoldItalic.woff2');
  src: local('Atkinson Hyperlegible Bold Italic'), local('AtkinsonHyperlegible-BoldItalic'),
    url('/fonts/AtkinsonHyperlegible-BoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
