*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'sans-serif';
  padding: 0;
  margin: 0;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', 'system-ui';
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.repo__image {
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 26px;
  z-index: 0 !important;
}

table {
  font: inherit;
  width: 100%;
  border-collapse: initial;
  -webkit-border-horizontal-spacing: 0;
}

th {
  font-weight: normal;
  border: none;
  font-size: inherit;
  text-align: right;
}

th,
td {
  font-family: 'Inter';
  border: none;
  line-height: 1.2;
}

th,
th + td {
  border-top: 1px solid #231f20 !important;
  border-collapse: no-collapse;
}

table :global(a) {
  text-decoration: none;
}

.intro {
  font-size: clamp(1.5rem, 8vmin, 3.5rem);
  line-height: 1.2;
  font-style: normal;
  letter-spacing: -0.025em;
}

.intro :global(a) {
  letter-spacing: 0;
  font-style: italic;
}

.st0 {
  fill: #a493f8;
}

.st1 {
  fill: #837e95;
}

svg .st0 {
  fill: #a493f8;
}

svg .st1 {
  fill: #837e95;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

#skip {
  scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
  }
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.blog_image {
  border-radius: 18px !important;
}
