@font-face {
  font-family: 'Olympic Sans';
  src: url('https://cdn.ady.systems/typeface/OlympicSans-Italic.eot');
  src: local('Olympic Sans Italic'), local('OlympicSans-Italic'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Italic.woff2') format('woff2'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Italic.woff') format('woff'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Olympic Sans';
  src: url('https://cdn.ady.systems/typeface/OlympicSans-MediumItalic.eot');
  src: local('Olympic Sans Medium Italic'), local('OlympicSans-MediumItalic'),
    url('https://cdn.ady.systems/typeface/OlympicSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/typeface/OlympicSans-MediumItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/typeface/OlympicSans-MediumItalic.woff') format('woff'),
    url('https://cdn.ady.systems/typeface/OlympicSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Olympic Sans';
  src: url('https://cdn.ady.systems/typeface/OlympicSans.eot');
  src: local('Olympic Sans'), local('OlympicSans'),
    url('https://cdn.ady.systems/typeface/OlympicSans.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/typeface/OlympicSans.woff2') format('woff2'),
    url('https://cdn.ady.systems/typeface/OlympicSans.woff') format('woff'),
    url('https://cdn.ady.systems/typeface/OlympicSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Olympic Sans';
  src: url('https://cdn.ady.systems/typeface/OlympicSans-Bold.eot');
  src: local('Olympic Sans Bold'), local('OlympicSans-Bold'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Bold.woff2') format('woff2'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Bold.woff') format('woff'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Olympic Sans';
  src: url('https://cdn.ady.systems/typeface/OlympicSans-Medium.eot');
  src: local('Olympic Sans Medium'), local('OlympicSans-Medium'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Medium.woff2') format('woff2'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Medium.woff') format('woff'),
    url('https://cdn.ady.systems/typeface/OlympicSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Olympic Sans';
  src: url('https://cdn.ady.systems/typeface/OlympicSans-BoldItalic.eot');
  src: local('Olympic Sans Bold Italic'), local('OlympicSans-BoldItalic'),
    url('https://cdn.ady.systems/typeface/OlympicSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/typeface/OlympicSans-BoldItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/typeface/OlympicSans-BoldItalic.woff') format('woff'),
    url('https://cdn.ady.systems/typeface/OlympicSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
