@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-LightItalic.eot');
  src: local('Urbane Light Italic'), local('Urbane-LightItalic'),
    url('https://cdn.ady.systems/urbane/Urbane-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-LightItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-LightItalic.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-Medium.eot');
  src: local('Urbane Medium'), local('Urbane-Medium'),
    url('https://cdn.ady.systems/urbane/Urbane-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-Medium.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-Medium.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-ThinItalic.eot');
  src: local('Urbane Thin Italic'), local('Urbane-ThinItalic'),
    url('https://cdn.ady.systems/urbane/Urbane-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-ThinItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-ThinItalic.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-DemiBold.eot');
  src: local('Urbane Demi Bold'), local('Urbane-DemiBold'),
    url('https://cdn.ady.systems/urbane/Urbane-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-DemiBold.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-DemiBold.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-Heavy.eot');
  src: local('Urbane Heavy'), local('Urbane-Heavy'),
    url('https://cdn.ady.systems/urbane/Urbane-Heavy.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-Heavy.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-Heavy.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-Thin.eot');
  src: local('Urbane Thin'), local('Urbane-Thin'),
    url('https://cdn.ady.systems/urbane/Urbane-Thin.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-Thin.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-Thin.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-BoldItalic.eot');
  src: local('Urbane Bold Italic'), local('Urbane-BoldItalic'),
    url('https://cdn.ady.systems/urbane/Urbane-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-BoldItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-BoldItalic.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane Extra';
  src: url('https://cdn.ady.systems/urbane/Urbane-ExtraLight.eot');
  src: local('Urbane Extra Light'), local('Urbane-ExtraLight'),
    url('https://cdn.ady.systems/urbane/Urbane-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-ExtraLight.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-ExtraLight.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-HeavyItalic.eot');
  src: local('Urbane Heavy Italic'), local('Urbane-HeavyItalic'),
    url('https://cdn.ady.systems/urbane/Urbane-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-HeavyItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-HeavyItalic.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-Bold.eot');
  src: local('Urbane Bold'), local('Urbane-Bold'),
    url('https://cdn.ady.systems/urbane/Urbane-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-Bold.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-Bold.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-MediumItalic.eot');
  src: local('Urbane Medium Italic'), local('Urbane-MediumItalic'),
    url('https://cdn.ady.systems/urbane/Urbane-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-MediumItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-MediumItalic.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-DemiBoldItalic.eot');
  src: local('Urbane Demi Bold Italic'), local('Urbane-DemiBoldItalic'),
    url('https://cdn.ady.systems/urbane/Urbane-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-DemiBoldItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-DemiBoldItalic.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-DemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane';
  src: url('https://cdn.ady.systems/urbane/Urbane-Light.eot');
  src: local('Urbane Light'), local('Urbane-Light'),
    url('https://cdn.ady.systems/urbane/Urbane-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-Light.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-Light.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Urbane Extra';
  src: url('https://cdn.ady.systems/urbane/Urbane-ExtraLightItalic.eot');
  src: local('Urbane Extra Light Italic'), local('Urbane-ExtraLightItalic'),
    url('https://cdn.ady.systems/urbane/Urbane-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.ady.systems/urbane/Urbane-ExtraLightItalic.woff2') format('woff2'),
    url('https://cdn.ady.systems/urbane/Urbane-ExtraLightItalic.woff') format('woff'),
    url('https://cdn.ady.systems/urbane/Urbane-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
