.wrapper {
  height: 100%;
  padding-bottom: 0;
}
.main {
  max-width: var(--main-content);
  margin-top: 70px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.titlewrapper {
  position: relative;
  text-align: left;
  align-items: left;
}
.content {
  display: inline-flex;
  position: relative;
  text-align: left;
  align-items: left;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 800 !important;
  line-height: normal;
  letter-spacing: -0.08rem;
  color: var(--gray-alpha);
  margin-bottom: 40px;
}
