.wrapper {
  height: 100%;
  padding-bottom: 0;
}

.main {
  max-width: var(--main-content);
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  padding-bottom: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
