.wrapper {
  z-index: 0;
  height: 100%;
  padding-bottom: 0;
}
.main {
  z-index: 9;
  max-width: var(--main-content);
  margin-top: 70px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.titlewrapper {
  z-index: 11;
  position: relative;
  text-align: left;
  align-items: left;
}
.content {
  display: inline-flex;
  position: relative;
  text-align: left;
  align-items: left;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-weight: 800 !important;
  line-height: normal;
  letter-spacing: -0.05rem;
  color: var(--white);
  margin-bottom: 40px;

  background-color: var(--volt);
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid var(--gray);
  border-radius: 6px;
}
