.command,
.logo {
  display: inline-flex;
  padding: 6px;
  margin: -10px;
  border-radius: 0;
}
.command:hover,
.command:focus,
.logo:hover,
.logo:focus-within {
  outline: none;
  background: transparent;
}
.command {
  cursor: pointer;
  background: none;
}
.logo {
  margin-right: var(--gap-half);
}
.copyright {
  font-size: 12px;
  font-weight: 400;
  color: #4c4c4c;
  padding: 0;
  margin: 0;
}
.copyright a {
  color: #4c4c4c;
}
.footlink {
  z-index: 9999;
  display: inline-flex;
  padding: 6px;
  margin: -10px;
  border-radius: var(--radius);

  margin-right: var(--gap-half);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
}
.footernav {
  display: flex;
  position: relative;
  bottom: 0;
  width: var(--full-width);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: #4c4c4c;
  z-index: 10;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px 0;
  background-color: var(--footer-bg);
  border: 1px solid var(--header-bg);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;

  backdrop-filter: blur(14px);
  saturate: 200%;

  /* Safari */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-backdrop-filter: saturate(220%) blur(20px);
}
.footer {
  display: flex;
  height: auto;
  margin: 6px auto;
  padding: 0 8px;
  width: 100%;
  max-width: var(--full-width);
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

@media (max-width: 700px) {
  .footer {
    display: flex;
    height: auto;
    margin: 6px auto;
    padding: 0 var(--gap-quarter);
    width: var(--full-width);

    justify-content: space-between;
    align-items: center;
    vertical-align: baseline;
  }
}
