/*
 *  [ ATELIER DESIGN YIELD® ]
 *  2022-01-06
 *  All Rights Reserved.
 *  NO WARRANTY EXPRESSED OR IMPLIED. USE AT YOUR OWN RISK.
 *  See http://developer.ady.world/ for more information.
 */

@import './syntax.css';
@import './markdown.css';
@import './inter.css';
@import './neue-wide.css';
@import './jetbrains.css';
@import './tb-grid.css';
@import './nprogress.css';

:root {
  /*
  * <-- [ SPACE ] -->
  */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --small-gap: 4rem;
  --big-gap: 4rem;
  --main-content: 50rem;
  --full-width: 100vw;
  --radius: 6px;
  --inline-radius: 5px;

  /*
   *
   * <-- [ TYPOGRAPHY ] -->
   *
  */

  /* <-- [ APP FONTS ] --> */

  --inter: 'Inter', -apple-system, Helvetica Neue, sans-serif;
  --jetbrain: 'Jet Brains', 'SFMono-Regular', monospace;

  /* FALLBACKS */
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* TRANSITIONS */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

  /*
   *
   * <-- [ DARK MODE ] -->
   *
  */
  --bg: #131415;
  --fg: #fafbfc;
  --white: #fff;
  --gray: #666;
  --light-gray: #444;
  --lighter-gray: #222;
  --lightest-gray: #1a1a1a;

  --volt-alpha: rgba(199, 239, 0, 0.8);
  --volt: #adff02;
  --orange: #fb5607;
  --article-color: #eaeaea;
  --header-border: rgba(19, 20, 21, 0.7);
  --header-bg: rgba(19, 20, 21, 0.45);
  --footer-bg: rgba(19, 20, 21, 0.45);
  --gray-alpha: rgba(255, 255, 255, 0.5);
  --selection: rgba(255, 255, 255, 0.99);
  /* --volt: #0071bc; */

  /*
   *
   * <-- [ SYNTAX HIGHLIGHTING ] -->
   *
  */
  --token: #999;
  --comment: #999;
  --keyword: #fff;
  --name: #fff;
  --highlight: #2e2e2e;

  /*
   *
   * <-- [ SOCIAL LINKS (Color) ] -->
   *
  */
  --arena: var(--volt);
  --twitter: #1da1f2;
  --github: #6cc644;
  --instagram: #833ab4;

  /*
   *
   * <-- [ CUSTOM SVG COLORS ] -->
   *
  */
  --logo: #fb5607;
}

/*
*
* <-- [ LIGHT THEME ] -->
*
*/
[data-theme='light'] {
  --bg: #fff;
  --fg: #231f20;
  --gray: #888;
  --light-gray: #dedede;
  --lighter-gray: #f5f5f5;
  --lightest-gray: #fafafa;
  --article-color: #212121;
  --header-border: rgba(240, 240, 240, 0.9);
  --header-bg: rgba(240, 240, 240, 0.8);
  --footer-bg: rgba(240, 240, 240, 0.2);
  --gray-alpha: rgba(19, 20, 21, 0.5);
  --selection: rgba(0, 0, 0, 0.99);

  /* CUSTOM COLORS */
  --volt-alpha: rgba(139, 128, 249, 0.5);
  --volt: #9b5de5;
  --orange: #fb5607;
  --white: #175676;

  --token: #666;
  --comment: #999;
  --keyword: #000;
  --name: #333;
  --highlight: #eaeaea;
}

/*
*
* <-- [ GLOBALS ] -->
*
*/

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--selection);
  color: var(--bg);
}

html {
  font-family: var(--font-sans);
  line-height: 1.5;
}

html,
body {
  font-family: var(--font-sans);
  padding: 0;
  margin: 0;
  /* font-size: 16px; */
  /* background: var(--bg); */
  color: var(--fg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

p,
li {
  letter-spacing: -0.33px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  color: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 65px;
  font-weight: 800;
  line-height: 0.1;
  letter-spacing: -0.2rem;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 0.1;
  letter-spacing: -0.08rem;
}

h3 {
  font-size: 1.5rem;
  letter-spacing: -0.47px;
}

h4 {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  color: gray;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.8px; */
  letter-spacing: -0.03rem;
  line-height: 0.4;
  padding-left: 3px;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: var(--fg);
  letter-spacing: -0.04rem !important;
  line-height: 0.4;
}

pre,
code {
  font-family: var(--jetbrain);
  font-size: 12px;
  color: var(--volt);
}

/*
 * [ @media Typography ]
*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 46px !important;
    line-height: 0.3;
  }
  h2 {
    font-size: 1.4rem;
    letter-spacing: -0.04rem;
  }
  h4 {
    font-size: 0.9rem;
    line-height: 0.4;
  }
  p {
    font-weight: 500;
  }
}

.menu_container {
  z-index: 9999;
  margin: auto;
  padding: 1rem;
  width: auto;
  height: auto;
  align-items: center;
  text-align: center;
}

.grid-item-two {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  margin: auto;
  align-items: center;
  text-align: center;
  width: 350px;
  height: auto;
}

.item-1,
.item-2 {
  width: 100%;
  /* border: 1px solid var(--volt); */
  /* border-radius: 12px; */
  padding: 0.2rem;
  margin: auto;
}

.item-1 {
  align-items: right !important;
}

.item-2 {
  align-items: left !important;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
  line-height: normal;
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--light-gray);
}

.cmnd_k {
  display: block;
  z-index: 9999;
  border: 1px solid var(--volt);
  border-radius: 6px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: auto;
  position: relative;
  width: 80px;
}

button {
  border: none;
  padding: 6px;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

button:hover {
  transition: var(--transition-slow);
  cursor: pointer !important;
}

.links {
  font-size: 12px;
  font-weight: bold;
  color: var(--volt) !important;
}

p a,
a.reset {
  outline: none !important;
  color: var(--fg);
  text-decoration: none !important;
  padding-right: 10px;
  border: none !important;
}

p a:hover,
p a:focus,
p a:active,
a.reset:hover,
a.reset:focus {
  color: var(--gray);
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.flex {
  display: flex;
}

kbd {
  font-family: var(--font-sans);
  font-size: 1rem;
  padding: 2px 7px;
  font-weight: 600;
  background: var(--lighter-gray);
  border-radius: 5px;
}

summary {
  cursor: pointer;
  outline: none;
}

details {
  border-radius: var(--radius);
  background: var(--lightest-gray);
  padding: 1rem;
  border-radius: var(--radius);
}

@media print {
  :root {
    --bg: #fff;
    --fg: #000;
    --gray: #888;
    --light-gray: #dedede;
    --lighter-gray: #f5f5f5;
    --lightest-gray: #fafafa;
    --article-color: #212121;
    --header-bg: rgba(255, 255, 255, 0.8);
    --gray-alpha: rgba(19, 20, 21, 0.5);
    --selection: rgba(0, 0, 0, 0.99);

    --token: #666;
    --comment: #999;
    --keyword: #000;
    --name: #333;
    --highlight: #eaeaea;
  }

  * {
    text-shadow: none !important;
  }
}

/*
*
* <-- [ SOCIAL ICONS ] -->
*
*/

.arena {
  color: var(--arena) !important;
}

.twitter {
  color: var(--twitter) !important;
}

.github {
  color: var(--github) !important;
}

.instagram {
  color: var(--instagram) !important;
}
